/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}


.select-order-status{
    background: transparent;
    padding: 5px;
    line-height: 2;
    width: 150px;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 1px;
}

.col-sm-140px{
    width: 140px;
    position: absolute;
}

.col-sm-140px-ex{
    width: auto;
    padding-left: 150px;
}

.filter-label{
    font-weight: normal;
    font-size: small;
    text-align: left !important;
}

.col-sm-full-bordered{
    width: 100%;
    border-left: medium solid #eaeaea;
}

.btn-sm-ext{
    width: 97%;
    margin-left: 18px;
}

.panel-title-ext{
    font-size: 12px;
    padding-left: 15px;
}

.new-point-label{
    margin-left: 38%;
    margin-bottom: 10px;
    margin-top: -5px;
    font-size: 12px;
    display: inline-block;
    color: #669;
    cursor: pointer;
}

.button-rempoint{
    height: 36px;
    width: 36px;
    margin-left: -10px;
    margin-top: -1px;
    border-radius: 6px;
    background: #F17777;
    border-color: #F17777;
}

.ui-helper-hidden-accessible {
    display: none;
}

.ui-autocomplete{
    width: 140px !important;
    background-color: white;
    border-radius: 6px;
    border: 2px solid #CCCCCC;
}

.ui-menu-item{
    margin-left: -30px;
    list-style-type: none;
}

.ui-corner-all{
    color: #333333;
}
