@media all and (min-width: 1600px) {
    #map {width : 1000px; height : 700px;}
}
@media all and (min-width: 1280px) {
    #map {width : 900px; height : 630px;}
}
@media all and (min-width: 1024px) {
    #map {width : 800px; height : 560px;}
}
@media all and (min-width: 0px) {
    #map {width : 800px; height : 560px;}
}